<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: "New Drink | DrinkShop" }) %>

    <body>
        <%- include('../includes/navvster') %>

            <h2 class="position-title-black">Edit the drinks</h2>

            <main style="min-height: 80vh">

                <section class="product-layout">





                    <form action="/drinks/<%= drinks.slug %>" method="POST">
                        <input type="text" value="<%= drinks.name %>" name="name" placeholder="name" /><br />
                        <input type="text" value="<%= drinks.slug %>" name="slug" placeholder="slug" /><br />
                        <input type="number" value="<%= drinks.priceInCents %>" name="priceInCents"
                            placeholder="price in cents" /><br />
                        <button class="button-make">Save</button>
                    </form>



                </section>


            </main>


    </body>

    <footer>
        <%- include('../includes/waiting-list.ejs') %>

            <%- include('../includes/bottom-bit') %>

    </footer>

</html>